@{
    ViewBag.Title = "FailConfirm";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="content-wrapper">
    <div class="=form-group confirm-code-group">
        <div class="panel-heading">
            <div class="panel-title">
                <p>Произошла внутренняя ошибка. <span style="font-size: 26px;">&#9762;</span></p> 
                <p>Нажмите на логотип сайта и перейдите на главную страницу.</p>
                <p>Проверьте вводимые данные и попытайтесь снова.</p>
            </div>            
        </div>
    </div>
</div>
