@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="content-wrapper p404">
    <img src="~/Images/OptionPost/psychobox.png"/>
    <div>
        <p>Ошибка (404)</p>
        <p>Запрошенная вами страница не найдена.</p>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>