@{
    ViewBag.Title = "SuccessConfirm";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="content-wrapper">
    <div class="=form-group confirm-code-group">
        <div class="panel-heading">
            <div class="panel-title">
                <p>Действие успешно выполнено.</p> 
                <p>Нажмите на логотип сайта и перейдите на главную страницу.</p>
                <p>Приятного пребывания на сайте. <span style="font-size: 26px;">&#9786;</span></p>
            </div>            
        </div>
    </div>
</div>
