<div class="panel-body loginca user-loginca">
    <div class="form-group">
        <input class="btn btn-primary item-privat go-home" type="button" value="Главная" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary item-privat unwMess" type="button" value="Мои диалоги" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary item-privat optionBtn" type="button" value="Мои настройки" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary item-privat ignorBtn" type="button" value="Игнор лист" />
    </div>
</div>
